php/**/*.json
php/**/*.md
php/**/*Test.php
solutions/haskell/*/*/package.yaml
solutions/javascript/acronym/1
solutions/javascript/annalyns-infiltration/1
solutions/javascript/circular-buffer/1
solutions/javascript/isbn-verifier/[12345]
solutions/javascript/list-ops/[12]
solutions/javascript/parallel-letter-frequency/1
solutions/javascript/protein-translation/1
solutions/javascript/reverse-string/1/reverse-string.js
solutions/javascript/robot-simulator/1/robot-simulator.js
solutions/javascript/space-age/1/space-age.js
solutions/javascript/zebra-puzzle/1/zebra-puzzle.js
solutions/php/annalyns-infiltration/[12]
solutions/php/city-office/1
solutions/php/collatz-conjecture/1
solutions/php/dnd-character/1
solutions/php/hello-world/1
solutions/php/lasagna/1
solutions/php/leap/5
solutions/php/meetup/1
solutions/php/pizza-pi/1
solutions/php/roman-numerals/1
solutions/php/scrabble-score/1
solutions/php/sweethearts/1/
solutions/typescript/acronym/1
solutions/typescript/allergies/[12]
solutions/typescript/bob/[12]
solutions/typescript/circular-buffer/1
solutions/typescript/collatz-conjecture/[12]
solutions/typescript/difference-of-squares/[13]
solutions/typescript/grade-school/1
solutions/typescript/hello-world/[12]
solutions/typescript/leap/[12]
solutions/typescript/list-ops/1
solutions/typescript/luhn/[12]
solutions/typescript/minesweeper/1
solutions/typescript/protein-translation/1
solutions/typescript/rational-numbers/1
solutions/typescript/resistor-color/1
solutions/typescript/robot-simulator/1
solutions/typescript/scrabble-score/[12]
solutions/typescript/simple-cipher/1
solutions/typescript/space-age/1
